.container-match {
    width: 750px;
}

.container-match h1{
    text-align: center;
    margin:40px 0;
}

#match-form {
    display:flex;
    flex-wrap: wrap;
    gap:7%;
    justify-content: center;
    align-items: center;
}

.form-control.staffs:hover {
background-color: rgba(16,152,247,0.5);
border-radius: 5px;
}

p.staffs {
    color: #1098f7;
}
